<img class="logo" src="favicon.ico" />
<mat-card class="overlay border-primary" align="center">
  <h1 *ngIf="linkSent" class="h1-container">
    {{ "ResetPasswordLinkSent" | translate }}
  </h1>
  <mat-spinner *ngIf="loading" color="primary"></mat-spinner>
  <mat-card-content *ngIf="!loading && !linkSent">
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>{{ "UsernameOrEmail" | translate }}</mat-label>
          <input matInput type="text" formControlName="emailFormControl" />
        </mat-form-field>
      </div>
      <div>
        <button
          type="submit"
          [disabled]="!forgotForm.valid"
          mat-raised-button
          color="accent"
        >
          {{ "GetNewPassword" | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
