<app-wrapper>
  <h3 *ngIf="linkSent" class="h1-container">
    {{ "ResetPasswordLinkSent" | translate }}
  </h3>
  <mat-spinner *ngIf="loading" color="primary"></mat-spinner>
  <mat-card-content *ngIf="!loading && !linkSent">
    <mat-error *ngIf="error">
      {{ error | translate }}
      <br />
      <br />
    </mat-error>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>{{ "Email" | translate }}</mat-label>
          <input
            matInput
            matInputAutofocus
            type="text"
            formControlName="emailFormControl"
          />
        </mat-form-field>
      </div>
      <div>
        <button
          type="submit"
          [disabled]="!forgotForm.valid"
          mat-raised-button
          color="accent"
        >
          {{ "GetNewPassword" | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</app-wrapper>
