<div class="header">
  <div>
    <button mat-raised-button class="silver-button">THIS IS A COOL LOGO</button>
    <button mat-raised-button class="silver-button">Home</button>
    <button mat-raised-button class="silver-button">Whatever</button>
    <button mat-raised-button class="silver-button">Example</button>
    <button mat-raised-button class="silver-button">Fuck Off</button>
  </div>
  <div>
    <button mat-raised-button class="gold-button">Log In</button>
    <button mat-raised-button class="gold-button">Sign Up</button>
  </div>
</div>
<hr class="horizontal-line" />
