button {
  margin-left: 10px;
  margin-right: 10px;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 300px;
  padding-right: 300px;
  height: 40px;
  position: sticky;
  top: 0px;
}

.container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 40px;
  cursor: pointer;
}

.mat-form-field {
  margin-left: 40px;
  width: 70px;
}