button {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.menu-button {
  margin: 0px;
}

.menu-icon {
  margin-right: 5px;
}

.danger {
  color: red;
}

.header {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15vw;
  padding-right: 15vw;
  height: 40px;
  position: sticky;
  top: 0px;
  border-bottom: solid #aaa9ad 1px;
}

.container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 2vw;
  cursor: pointer;
}

.mat-form-field {
  padding-top: 5px;
  margin-left: 2vw;
  width: 40px;
}

.country-flag {
  margin-top: 15px;
  width: 30px;
  height: 30px;
}

.en {
  background: url("/assets/flags/en.svg") no-repeat;
  margin-left: 5px;
}

.es {
  background: url("/assets/flags/es.svg") no-repeat;
  margin-left: 5px;
}
