<div class="header overlay">
  <div class="container">
    <img class="logo" src="favicon.ico" routerLink="/" />
    <button mat-raised-button color="primary" routerLink="/catalog">
      {{ "Catalog" | translate }}
    </button>
  </div>
  <div class="container">
    <button
      *ngIf="accountsService.authUser"
      mat-raised-button
      color="accent"
      (click)="logout()"
    >
      {{ "LogOut" | translate }}
    </button>
    <button
      *ngIf="!accountsService.authUser"
      mat-raised-button
      color="accent"
      routerLink="/auth/login"
    >
      {{ "LogIn" | translate }}
    </button>
    <button
      *ngIf="!accountsService.authUser"
      mat-raised-button
      color="accent"
      routerLink="/auth/signup"
    >
      {{ "SignUp" | translate }}
    </button>
    <mat-form-field color="primary">
      <mat-select
        color="primary"
        (selectionChange)="switchLanguage($event)"
        [value]="selectedLanguage"
        [ngClass]="selectedLanguage"
      >
        <mat-option
          color="primary"
          *ngFor="let language of translate.getLangs()"
          [value]="language"
        >
          <img
            class="country-flag"
            src="assets/flags/{{ language }}.svg"
            alt=""
          />
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
