<div class="header overlay">
  <div class="container">
    <img class="logo" src="favicon.ico" routerLink="/" />
    <button mat-raised-button color="primary" routerLink="/catalog">
      {{ "Catalog" | translate }}
    </button>
  </div>
  <div class="container">
    <button
      *ngIf="accountsService.authUser"
      mat-raised-button
      [matMenuTriggerFor]="profileMenu"
      color="accent"
    >
      <mat-icon class="menu-icon">account_circle</mat-icon>
      {{ accountsService.authUser.username }}
    </button>
    <mat-menu #profileMenu="matMenu" xPosition="before">
      <button
        *ngIf="!accountsService.authUser?.active"
        class="menu-button"
        mat-menu-item
        (click)="sendActivationEmail()"
      >
        <mat-icon class="menu-icon">email</mat-icon>
        {{ "SendActivationEmail" | translate }}
      </button>
      <button class="menu-button" mat-menu-item (click)="logout()">
        <mat-icon class="menu-icon">directions_run</mat-icon>
        {{ "LogOut" | translate }}
      </button>
      <button
        class="menu-button danger"
        mat-menu-item
        (click)="deleteAccount()"
      >
        <mat-icon class="menu-icon">delete_forever</mat-icon>
        {{ "DeleteAccount" | translate }}
      </button>
    </mat-menu>
    <button
      *ngIf="!accountsService.authUser"
      mat-raised-button
      color="accent"
      routerLink="/auth/login"
    >
      {{ "LogIn" | translate }}
    </button>
    <button
      *ngIf="!accountsService.authUser"
      mat-raised-button
      color="accent"
      routerLink="/auth/signup"
    >
      {{ "SignUp" | translate }}
    </button>
    <mat-form-field color="primary">
      <mat-select
        color="primary"
        (selectionChange)="switchLanguage($event)"
        [value]="selectedLanguage"
        [ngClass]="selectedLanguage"
      >
        <mat-option
          color="primary"
          *ngFor="let language of translate.getLangs()"
          [value]="language"
        >
          <img
            class="country-flag"
            src="assets/flags/{{ language }}.svg"
            alt=""
          />
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
