.mat-card {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  padding: 50px 75px;
  border-radius: 25px;
}

.mat-raised-button {
  margin-top: 10px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: rgb(0, 191, 255);
}

.mat-form-field {
  margin-bottom: 10px;
  width: 350px;
}

.logo {
  display: block;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
