<app-wrapper>
  <mat-spinner *ngIf="loading" color="primary"></mat-spinner>
  <mat-card-content *ngIf="!loading">
    <mat-error *ngIf="error">
      {{ error | translate }}
      <br />
      <br />
    </mat-error>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>{{ "UsernameOrEmail" | translate }}</mat-label>
          <input
            matInput
            matInputAutofocus
            type="text"
            formControlName="userFormControl"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{ "Password" | translate }}</mat-label>
          <input
            matInput
            type="password"
            formControlName="passwordFormControl"
          />
        </mat-form-field>
      </div>
      <div>
        <button
          type="submit"
          [disabled]="!loginForm.valid"
          mat-raised-button
          color="accent"
        >
          {{ "LogIn" | translate }}
        </button>
      </div>
    </form>
    <a routerLink="/auth/forgot">{{ "ForgotPassword" | translate }}</a>
  </mat-card-content>
</app-wrapper>
