<app-wrapper>
  <h1 *ngIf="changed" class="h1-container success">
    {{ "PasswordChanged" | translate }}
  </h1>
  <mat-spinner *ngIf="loading" color="primary"></mat-spinner>
  <mat-card-content *ngIf="!loading && !changed">
    <mat-error *ngIf="error">
      {{ error | translate }}
      <br />
      <br />
    </mat-error>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{ "NewPassword" | translate }}</mat-label>
          <input
            matInput
            matInputAutofocus
            type="password"
            formControlName="passwordFormControl"
          />
          <mat-error
            *ngIf="resetForm.hasError('required', 'passwordFormControl')"
          >
            {{ "FieldRequired" | translate }}
          </mat-error>
          <mat-error
            *ngIf="resetForm.hasError('minlength', 'passwordFormControl')"
          >
            {{ "PasswordLengthInvalid" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button
          type="submit"
          [disabled]="!resetForm.valid"
          mat-raised-button
          color="accent"
        >
          {{ "ChangePassword" | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</app-wrapper>
