<img class="logo" src="favicon.ico" />
<mat-card class="overlay border-primary" align="center">
  <div *ngIf="created" class="h1h2-container">
    <h1>{{ "AccountCreated" | translate }}</h1>
    <h2>{{ "ActivationLinkSent" | translate }}</h2>
  </div>
  <mat-spinner *ngIf="sent && !created" color="primary"></mat-spinner>
  <mat-card-content *ngIf="!sent && !created">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>{{ "Email" | translate }}</mat-label>
          <input matInput type="text" formControlName="emailFormControl" />
          <mat-error
            *ngIf="signupForm.hasError('required', 'emailFormControl')"
          >
            {{ "FieldRequired" | translate }}
          </mat-error>
          <mat-error *ngIf="signupForm.hasError('email', 'emailFormControl')">
            {{ "EmailInvalid" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>{{ "Username" | translate }}</mat-label>
          <input matInput type="text" formControlName="usernameFormControl" />
          <mat-error
            *ngIf="signupForm.hasError('required', 'usernameFormControl')"
          >
            {{ "FieldRequired" | translate }}
          </mat-error>
          <mat-error
            *ngIf="signupForm.hasError('pattern', 'usernameFormControl')"
          >
            {{ "UsernameInvalid" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{ "Password" | translate }}</mat-label>
          <input
            matInput
            type="password"
            formControlName="passwordFormControl"
          />
          <mat-error
            *ngIf="signupForm.hasError('required', 'passwordFormControl')"
          >
            {{ "FieldRequired" | translate }}
          </mat-error>
          <mat-error
            *ngIf="signupForm.hasError('minlength', 'passwordFormControl')"
          >
            {{ "PasswordLengthInvalid" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="small-container">
        <small>
          {{ "PreTerms" | translate }}
          <a (click)="onTermsClicked()">
            {{ "Terms" | translate }}
          </a>
          {{ "PreDataPolicy" | translate }}
          <a>
            {{ "DataPolicy" | translate }}
          </a>
          {{ "PreCookiesPolicy" | translate }}
          <a>
            {{ "CookiesPolicy" | translate }}
          </a>
          {{ "." | translate }}
        </small>
      </div>
      <div>
        <button
          type="submit"
          [disabled]="!signupForm.valid"
          mat-raised-button
          color="accent"
        >
          {{ "SignUp" | translate }}
        </button>
      </div>
    </form>
              </mat-card-content>
</mat-card>
