.screen-wrapper {
  display: flex;
  flex-flow: column;
  min-height: calc(100vh - 40px - 30px - 1px);
}

.site-content {
  flex: 1 1 auto;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

.background-img {
  background-image: url("/assets/background-img.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
