.screen-wrapper {
  display: flex;
  flex-flow: column;
  min-height: calc(100vh - 40px - 30px - 1px);
}

.site-content {
  flex: 1 1 auto;
}

.background-img {
  background-image: url("/assets/images/background-img.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
