<mat-card class="overlay border-primary">
  <div class="games-list">
    <app-games-list></app-games-list>
  </div>
  <mat-drawer-container class="game-description overlay">
    <mat-drawer class="reviews-info overlay" #drawer mode="side" position="end">
    </mat-drawer>
    <button
      mat-fab
      mat-button
      matTooltip="{{ 'CheckGameReviews' | translate }}"
      [matTooltipDisabled]="drawer.opened"
      class="reviews-button"
      (click)="drawer.toggle()"
    >
      <mat-icon>star_border</mat-icon>
    </button>
  </mat-drawer-container>
</mat-card>
