.mat-card {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 70vw;
  height: 786px;
  display: flex;
  border-radius: 25px;
}

.games-list {
  width: 400px;
  border-right: 1px solid silver;
}

.game-description {
  flex-grow: 1;
  border-radius: 25px;
}

.reviews-info {
  width: 600px;
  border-left: 1px solid silver;
  border-radius: 15px;
}

.reviews-button {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 60px;
  height: 60px;

  &::ng-deep .mat-button-wrapper {
    padding: 0;

    .mat-icon {
      font-size: 40px;
      padding-right: 15px;
      padding-bottom: 15px;
    }
  }
}
