@use "sass:color";
@import "themes.scss";

html,
body {
  margin: 0;
  padding: 0;
}

button:active:enabled {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.overlay {
  background-color: rgb(25, 25, 25);
}

.border-primary {
  border: 1px solid $default-primary;
}

.border-accent {
  border: 1px solid $default-accent;
}

.mat-raised-button.mat-primary {
  border: 1px solid $default-primary;
  background: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(color.adjust($default-primary, $lightness: -40%)),
    to($default-primary)
  );
  text-shadow: 1px 1px 0 #000;
}

.mat-raised-button.mat-accent {
  border: 1px solid $default-accent;
  background: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(color.adjust($default-accent, $lightness: -40%)),
    to($default-accent)
  );
  text-shadow: 1px 1px 0 #000;
}
