html, body {
  margin:0;
  padding:0;
}

button:active{
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.silver-button{
  border: 1px solid #aaa9ad !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#38383a), to(#aaa9ad));
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
  font-weight: bold;
}

.gold-button{
  border: 1px solid #d4af37 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b310f), to(#d4af37));
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
  font-weight: bold;
}